In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
setwd("c:/Rdata")

In [6]:
exam <- read.csv ( "csv_exam.csv" )
head(exam)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60
3 3  1     45   86      78
4 4  1     30   98      58
5 5  2     25   80      65
6 6  2     50   89      98

In [12]:
# exam에서 class가 1,3인 경우만 추출하여 출력
# [참고] 단축키 [Ctrl+Shit+M]으로 %>% 기호 입력
exam %>% filter(class ==1 | class==3)

  id class math english science
1  1 1     50   98      50
2  2 1     60   97      60
3  3 1     45   86      78
4  4 1     30   98      58
5  9 3     20   98      15
6 10 3     50   98      45
7 11 3     65   65      65
8 12 3     45   85      32

In [13]:
exam  %>% filter(class ==2) # 2반인 경우만 추출

  id class math english science
1 5  2     25   80      65
2 6  2     50   89      98
3 7  2     80   90      45
4 8  2     90   78      25

In [15]:
exam  %>%  filter(class !=3) #3반이 아닌 경우

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9  13 4     46   98      65
10 14 4     48   87      12
11 15 4     75   56      78
12 16 4     58   98      65
13 17 5     65   68      98
14 18 5     80   78      90
15 19 5     89   68      87
16 20 5     78   83      58

In [16]:
exam  %>%  filter(math > 50) # 수학 점수가 50점을 초과한 경우

   id class math english science
1   2 1     60   97      60
2   7 2     80   90      45
3   8 2     90   78      25
4  11 3     65   65      65
5  15 4     75   56      78
6  16 4     58   98      65
7  17 5     65   68      98
8  18 5     80   78      90
9  19 5     89   68      87
10 20 5     78   83      58

In [17]:
exam  %>% filter(math < 50) # 수학 점수가 50점 미만인 경우

  id class math english science
1  3 1     45   86      78
2  4 1     30   98      58
3  5 2     25   80      65
4  9 3     20   98      15
5 12 3     45   85      32
6 13 4     46   98      65
7 14 4     48   87      12

In [19]:
exam  %>% filter(english >= 80) ## 영어점수가 80점 이상인 경우

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   9 3     20   98      15
9  10 3     50   98      45
10 12 3     45   85      32
11 13 4     46   98      65
12 14 4     48   87      12
13 16 4     58   98      65
14 20 5     78   83      58

In [20]:
exam  %>%  filter(english <= 80)

  id class math english science
1  5 2     25   80      65
2  8 2     90   78      25
3 11 3     65   65      65
4 15 4     75   56      78
5 17 5     65   68      98
6 18 5     80   78      90
7 19 5     89   68      87

In [22]:
# 여러조건을 충족하는 행 추출하기
# 1반 이면서 수학 점수가 50점 이상인 경우
exam  %>% filter(class == 1 & math >= 50)

  id class math english science
1 1  1     50   98      50
2 2  1     60   97      60

In [23]:
exam  %>%  filter(class == 2 & english >=80)

  id class math english science
1 5  2     25   80      65
2 6  2     50   89      98
3 7  2     80   90      45

In [24]:
exam %>% filter (math >= 90 | english >= 90 )

  id class math english science
1  1 1     50   98      50
2  2 1     60   97      60
3  4 1     30   98      58
4  7 2     80   90      45
5  8 2     90   78      25
6  9 3     20   98      15
7 10 3     50   98      45
8 13 4     46   98      65
9 16 4     58   98      65

In [25]:
exam %>% filter (english < 90 | science < 50 )

   id class math english science
1   3 1     45   86      78
2   5 2     25   80      65
3   6 2     50   89      98
4   7 2     80   90      45
5   8 2     90   78      25
6   9 3     20   98      15
7  10 3     50   98      45
8  11 3     65   65      65
9  12 3     45   85      32
10 14 4     48   87      12
11 15 4     75   56      78
12 17 5     65   68      98
13 18 5     80   78      90
14 19 5     89   68      87
15 20 5     78   83      58

In [26]:
exam %>% filter (class == 1 | class == 3 | class == 5 ) # 1, 3, 5 반에 해당되면 추출

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   9 3     20   98      15
6  10 3     50   98      45
7  11 3     65   65      65
8  12 3     45   85      32
9  17 5     65   68      98
10 18 5     80   78      90
11 19 5     89   68      87
12 20 5     78   83      58

In [27]:
exam %>% filter (class %in% c ( 1 , 3 , 5 ))

   id class math english science
1   1 1     50   98      50
2   2 1     60   97      60
3   3 1     45   86      78
4   4 1     30   98      58
5   9 3     20   98      15
6  10 3     50   98      45
7  11 3     65   65      65
8  12 3     45   85      32
9  17 5     65   68      98
10 18 5     80   78      90
11 19 5     89   68      87
12 20 5     78   83      58

In [30]:
class1 = exam  %>%  filter(class == 1)
class2 = exam  %>%  filter(class == 2)

In [31]:
mean(class1$math)

[1] 46.25

In [32]:
mean(class2$math)

[1] 61.25

In [34]:
10%%3

[1] 1

In [35]:
10%/%3

[1] 3

In [36]:
mpg <- as.data.frame (ggplot2::mpg)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

In [37]:
head(mpg)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [42]:
mpg_a = mpg %>% filter(displ <= 4)
mpg_b = mpg %>% filter(displ >= 5)

In [44]:
mean(mpg_a$hwy)

[1] 25.96319

In [45]:
mean(mpg_b$hwy)

[1] 18.07895

In [48]:
mpg_audi = mpg %>% filter (manufacturer == "audi" ) 
mpg_toyota = mpg %>% filter (manufacturer == "toyota" )

In [49]:
mean(mpg_audi$cty)

[1] 17.61111

In [50]:
mean(mpg_toyota$cty)

[1] 18.52941

In [52]:
mpg_a = mpg %>% filter (manufacturer %in% c('chevrolet','ford','honda'))

In [53]:
mean(mpg_a$hwy)

[1] 22.50943

In [57]:
exam %>% select(math, english,science) %>% 
head(5)

  math english science
1 50   98      50
2 60   97      60
3 45   86      78
4 30   98      58
5 25   80      65

In [67]:
exam %>% select(-math)

   id class english science
1   1 1     98      50
2   2 1     97      60
3   3 1     86      78
4   4 1     98      58
5   5 2     80      65
6   6 2     89      98
7   7 2     90      45
8   8 2     78      25
9   9 3     98      15
10 10 3     98      45
11 11 3     65      65
12 12 3     85      32
13 13 4     98      65
14 14 4     87      12
15 15 4     56      78
16 16 4     98      65
17 17 5     68      98
18 18 5     78      90
19 19 5     68      87
20 20 5     83      58

[1] 3

In [66]:
exam %>% 
    filter(class==3) %>% 
    select(english,science) %>% 
    head(3)

  english science
1 98      15
2 98      45
3 65      65

## 6-4 순서대로 정렬하기

In [70]:
exam %>% arrange(desc(math))

   id class math english science
1   8 2     90   78      25
2  19 5     89   68      87
3   7 2     80   90      45
4  18 5     80   78      90
5  20 5     78   83      58
6  15 4     75   56      78
7  11 3     65   65      65
8  17 5     65   68      98
9   2 1     60   97      60
10 16 4     58   98      65
11  1 1     50   98      50
12  6 2     50   89      98
13 10 3     50   98      45
14 14 4     48   87      12
15 13 4     46   98      65
16  3 1     45   86      78
17 12 3     45   85      32
18  4 1     30   98      58
19  5 2     25   80      65
20  9 3     20   98      15

In [72]:
exam %>% arrange(class, math)

   id class math english science
1   4 1     30   98      58
2   3 1     45   86      78
3   1 1     50   98      50
4   2 1     60   97      60
5   5 2     25   80      65
6   6 2     50   89      98
7   7 2     80   90      45
8   8 2     90   78      25
9   9 3     20   98      15
10 12 3     45   85      32
11 10 3     50   98      45
12 11 3     65   65      65
13 13 4     46   98      65
14 14 4     48   87      12
15 16 4     58   98      65
16 15 4     75   56      78
17 17 5     65   68      98
18 20 5     78   83      58
19 18 5     80   78      90
20 19 5     89   68      87

In [74]:
exam %>% 
    select(math,english,science) %>% 
    arrange(desc(math)) %>% 
    head(3)

  math english science
1 90   78      25
2 89   68      87
3 80   90      45

In [75]:
exam %>% 
    select(class,math,english,science) %>% 
    arrange(class,desc(math)) %>% 
    head(3)

  class math english science
1 1     60   97      60
2 1     50   98      50
3 1     45   86      78

## 06.5 파생변수 추가하기

In [88]:
exam %>%
    mutate(tatal = math + english, science) %>%
    head(10)

   id class math english science tatal
1   1 1     50   98      50      148
2   2 1     60   97      60      157
3   3 1     45   86      78      131
4   4 1     30   98      58      128
5   5 2     25   80      65      105
6   6 2     50   89      98      139
7   7 2     80   90      45      170
8   8 2     90   78      25      168
9   9 3     20   98      15      118
10 10 3     50   98      45      148

In [89]:
exam  %>% 
    mutate(total = math + english +science,
          mean = (math + english + science)/3) %>% 
    head

  id class math english science total mean
1 1  1     50   98      50      198   66.00000
2 2  1     60   97      60      217   72.33333
3 3  1     45   86      78      209   69.66667
4 4  1     30   98      58      186   62.00000
5 5  2     25   80      65      170   56.66667
6 6  2     50   89      98      237   79.00000

## 06-3 집단별 요약하기

In [90]:
exam %>% summarise(mean_math = mean(math))

  mean_math
1 57.45

In [91]:
exam %>% 
    group_by(class) %>%
    summarise(mean_math = mean(math))

  class mean_math
1 1     46.25
2 2     61.25
3 3     45.00
4 4     56.75
5 5     78.00

In [92]:
exam %>% 
    group_by(class) %>% 
    summarise(mean_math = mean(math),
             sum_math = sum(math),
             median_math = median(math),
             n = n())

  class mean_math sum_math median_math n
1 1     46.25     185      47.5        4
2 2     61.25     245      65.0        4
3 3     45.00     180      47.5        4
4 4     56.75     227      53.0        4
5 5     78.00     312      79.0        4

In [98]:
mpg %>% 
    group_by(manufacturer, drv) %>% 
    summarise(mean_cty = mean(cty)) %>% 
    arrange(desc(mean_cty))
    head(10)

   manufacturer drv mean_cty
1  honda        f   24.44444
2  toyota       f   21.36842
3  volkswagen   f   20.92593
4  nissan       f   20.00000
5  subaru       4   19.28571
6  audi         f   18.85714
7  chevrolet    f   18.80000
8  hyundai      f   18.64286
9  pontiac      f   17.00000
10 audi         4   16.81818
11 dodge        f   15.81818
12 toyota       4   14.93333
13 ford         r   14.75000
14 chevrolet    r   14.10000
15 nissan       4   13.75000
16 jeep         4   13.50000
17 ford         4   13.30769
18 mercury      4   13.25000
19 chevrolet    4   12.50000
20 dodge        4   12.00000
21 land rover   4   11.50000
22 lincoln      r   11.33333

[1] 10

In [112]:
name <- data.frame ( class = c ( 1 , 2 , 3 , 4 , 5 ),
teacher = c ( "kim" , "lee" , "park" , "choi" , "jung" ))

In [113]:
name

  class teacher
1 1     kim
2 2     lee
3 3     park
4 4     choi
5 5     jung

In [114]:
exam_new = left_join(exam, name, by = 'class')
exam_new

   id class math english science teacher
1   1 1     50   98      50      kim
2   2 1     60   97      60      kim
3   3 1     45   86      78      kim
4   4 1     30   98      58      kim
5   5 2     25   80      65      lee
6   6 2     50   89      98      lee
7   7 2     80   90      45      lee
8   8 2     90   78      25      lee
9   9 3     20   98      15      park
10 10 3     50   98      45      park
11 11 3     65   65      65      park
12 12 3     45   85      32      park
13 13 4     46   98      65      choi
14 14 4     48   87      12      choi
15 15 4     75   56      78      choi
16 16 4     58   98      65      choi
17 17 5     65   68      98      jung
18 18 5     80   78      90      jung
19 19 5     89   68      87      jung
20 20 5     78   83      58      jung

In [107]:
group_a <- data.frame ( id = c ( 1 , 2 , 3 , 4 , 5 ),
test = c ( 60 , 80 , 70 , 90 , 85 ))

In [108]:
group_b <- data.frame ( id = c ( 6 , 7 , 8 , 9 , 10 ),
test = c ( 70 , 83 , 65 , 95 , 80 ))

In [109]:
group_a

  id test
1 1  60
2 2  80
3 3  70
4 4  90
5 5  85

In [110]:
group_b

  id test
1  6 70
2  7 83
3  8 65
4  9 95
5 10 80

In [111]:
group_all = bind_rows(group_a, group_b)
group_all

   id test
1   1 60
2   2 80
3   3 70
4   4 90
5   5 85
6   6 70
7   7 83
8   8 65
9   9 95
10 10 80

In [119]:
library(dplyr)
library(readxl)

In [120]:
exam = read.csv ( "sales_data.csv" )
head(exam)

  YM     CATEGORY ITEM_CNT QTY  PRICE MAXTEMP SALEDAY RAIN_DAY HOLIDAY
1 200901 건강음료 37       1410 1543   4      126753   151     12
2 200902 건강음료 37       1209 1543   9      113399  3014      8
3 200903 건강음료 38       1348 1547  12      129162  1383      9
4 200904 건강음료 38       1377 1500  19      126277  3564      8
5 200905 건강음료 40       1406 1528  25      129584  9288     12
6 200906 건강음료 39       1343 1623  27      123218  9998      8

In [126]:
exam %>% filter(CATEGORY %in% c('건강음료','과즙음료'))

    YM     CATEGORY ITEM_CNT QTY  PRICE MAXTEMP SALEDAY RAIN_DAY HOLIDAY
1   200901 건강음료 37       1410 1543   4      126753    151    12
2   200902 건강음료 37       1209 1543   9      113399   3014     8
3   200903 건강음료 38       1348 1547  12      129162   1383     9
4   200904 건강음료 38       1377 1500  19      126277   3564     8
5   200905 건강음료 40       1406 1528  25      129584   9288    12
6   200906 건강음료 39       1343 1623  27      123218   9998     8
7   200907 건강음료 38       1313 1600  28      131083  17405     8
8   200908 건강음료 39       1448 1577  29      130040   7704    10
9   200909 건강음료 41       1531 1559  27      131989   4096     8
10  200910 건강음료 43       1670 1586  22      136095   2824    10
11  200911 건강음료 44       1572 1573  12      136152   3684     9
12  200912 건강음료 46       1595 1789   5      137391    216     9
13  201001 건강음료 45       1432 1796   2      141145    792    11
14  201002 건강음료 45       1287 1796   7      128528   4384     9
15  201003 건강음료 45       1430 1796  10      145771   2940     9
16  201004 건강음료 45       1503 1796  15      130412   5973     8
17  201005 건강음료 44       1526 1877  23      143681   8656    12
18  201006 건강음료 40       1409 1940  28      145035   6325     8
19  201007 건강음료 40       1380 1940  29      148561  14930     9
20  201008 건강음료 40       1372 1940  31      153056  30531     9
21  201009 건강음료 41       1519 1971  27      147804  23150    11
22  201010 건강음료 41       2052 1988  20      155952   1337    10
23  201011 건강음료 41       1655 1988  13      154482      0     8
24  201012 건강음료 41       1762 1988   5      161292    886     8
25  201101 건강음료 42       1626 1957  -1      163610     82    10
26  201102 건강음료 41       1496 1988   7      149737   5587    11
27  201103 건강음료 41       1678 1988  10      169838    919     9
28  201104 건강음료 41       1653 1988  17      167577   8244     9
29  201105 건강음료 38       1654 2051  23      176452   7345    10
30  201106 건강음료 37       1580 2012  27      173664  25001     9
... ...    ...      ...      ...  ...   ...     ...     ...      ...
91  201107 과즙음료 74       2593 3039  29      182676  43058    10
92  201108 과즙음료 79       2765 2792  29      186850  20554     9
93  201109 과즙음료 77       2971 2817  26      184270   5373    10
94  201110 과즙음료 76       2459 2838  20      194286   4146    11
95  201111 과즙음료 75       2299 2876  16      191703  10027     8
96  201112 과즙음료 75       1823 2876   5      201541    489     9
97  201201 과즙음료 71       1402 2942   3      203133    362    11
98  201202 과즙음료 72       1859 2907   5      186880    377     8
99  201203 과즙음료 70       2566 2941  11      212945   6556    10
100 201204 과즙음료 77       2475 2818  18      209151  17042     9
101 201205 과즙음료 80       3653 3146  24      215673   2095    10
102 201206 과즙음료 83       3474 3251  28      215525   8865    10
103 201207 과즙음료 76       2568 2205  29      203590  25076     9
104 201208 과즙음료 73       2854 2218  30      228142  32385     9
105 201209 과즙음료 69       2744 2269  25      223581  23569    10
106 201210 과즙음료 71       2369 2246  21      233331  11111    10
107 201211 과즙음료 67       1833 2299  11      229144   4805     8
108 201212 과즙음료 64       1621 2158   2      239129   3706    11
109 201301 과즙음료 63       1627 2184   2      240416   2528     9
110 201302 과즙음료 65       1624 2337   5      217015   6667     9
111 201303 과즙음료 63       2103 2376  12      243648   4364    11
112 201304 과즙음료 60       2117 2445  15      237340   6727     8
113 201305 과즙음료 62       2606 2419  23      245068  17217    10
114 201306 과즙음료 56       2621 1962  28      236180   7360    11
115 201307 과즙음료 59       2336 1936  29      241687  41344     8
116 201308 과즙음료 61       2755 1957  31      240142  22284    10
117 201309 과즙음료 59       2992 1928  26      231662  13699    12
118 201310 과즙음료 64       2563 1898  21      239981   3011    10
119 201311 과즙음료 68       1878 1923  12      232854   2944     9
120 201312 과즙음료 65       1770 1939   5      240458    202    10

In [127]:
write.csv(exam, '123456.csv')