In [25]:
library(dplyr)
library (readxl)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

# 6.3

In [26]:
mpg = as.data.frame(ggplot2::mpg)

In [34]:
head(mpg)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [29]:
df = mpg %>% select (class, cty)
head(df)

  class   cty
1 compact 18
2 compact 21
3 compact 20
4 compact 21
5 compact 16
6 compact 18

In [36]:
df_suv = mpg %>% filter(class == 'suv')
df_compat = mpg  %>% filter(class == 'compact')

In [37]:
mean(df_suv$cty)

[1] 13.5

In [38]:
mean(df_compat$cty)

[1] 20.12766

# 6-4

In [39]:
mpg = as.data.frame(ggplot2::mpg)

In [40]:
head(mpg)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [47]:
mpg %>% filter(manufacturer == 'audi') %>% 
    arrange(desc(hwy)) %>% 
    head(5)

  manufacturer model      displ year cyl trans      drv cty hwy fl class
1 audi         a4         2.0   2008 4   manual(m6) f   20  31  p  compact
2 audi         a4         2.0   2008 4   auto(av)   f   21  30  p  compact
3 audi         a4         1.8   1999 4   auto(l5)   f   18  29  p  compact
4 audi         a4         1.8   1999 4   manual(m5) f   21  29  p  compact
5 audi         a4 quattro 2.0   2008 4   manual(m6) 4   20  28  p  compact

# 6-5

In [48]:
mpg = as.data.frame(ggplot2::mpg)

In [50]:
mpg_new = mpg

In [54]:
mpg_new = mpg_new %>% mutate(total = cty + hwy)
head(mpg_new)

  manufacturer model displ year cyl trans      drv cty hwy fl class   total
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact 47
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact 50
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact 51
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact 51
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact 42
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact 44

In [58]:
a = mpg_new %>% mutate(mean = total/2)
head(a)

  manufacturer model displ year cyl trans      drv cty hwy fl class   total
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact 47
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact 50
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact 51
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact 51
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact 42
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact 44
  mean
1 23.5
2 25.0
3 25.5
4 25.5
5 21.0
6 22.0

In [68]:
a %>%
    arrange(desc(mean)) %>% 
    head (3)

  manufacturer model      displ year cyl trans      drv cty hwy fl class
1 volkswagen   new beetle 1.9   1999 4   manual(m5) f   35  44  d  subcompact
2 volkswagen   jetta      1.9   1999 4   manual(m5) f   33  44  d  compact
3 volkswagen   new beetle 1.9   1999 4   auto(l4)   f   29  41  d  subcompact
  total mean
1 79    39.5
2 77    38.5
3 70    35.0

In [69]:
mpg_new %>%
    mutate(total = cty + hwy) %>% 
    mutate(mean = total/2) %>% 
    arrange(desc(mean)) %>% 
    head (3)

  manufacturer model      displ year cyl trans      drv cty hwy fl class
1 volkswagen   new beetle 1.9   1999 4   manual(m5) f   35  44  d  subcompact
2 volkswagen   jetta      1.9   1999 4   manual(m5) f   33  44  d  compact
3 volkswagen   new beetle 1.9   1999 4   auto(l4)   f   29  41  d  subcompact
  total mean
1 79    39.5
2 77    38.5
3 70    35.0

# 6-6

In [71]:
mpg6 = as.data.frame(ggplot2::mpg)
head(mpg6)

  manufacturer model displ year cyl trans      drv cty hwy fl class
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact

In [73]:
mpg6 %>% 
    group_by(class) %>% 
    summarise(mean_cty = mean(cty))

  class      mean_cty
1 2seater    15.40000
2 compact    20.12766
3 midsize    18.75610
4 minivan    15.81818
5 pickup     13.00000
6 subcompact 20.37143
7 suv        13.50000

In [76]:
mpg6 %>% 
    group_by(class) %>% 
    summarise(mean_cty = mean(cty)) %>% 
    arrange(desc(mean_cty)) %>% 
    head()

  class      mean_cty
1 subcompact 20.37143
2 compact    20.12766
3 midsize    18.75610
4 minivan    15.81818
5 2seater    15.40000
6 suv        13.50000

In [77]:
mpg6 %>% 
    group_by(hwy) %>% 
    mutate(mean_hwy = mean(hwy)) %>% 
    arrange(desc(mean_hwy)) %>% 
    head(3)

  manufacturer model      displ year cyl trans      drv cty hwy fl class
1 volkswagen   jetta      1.9   1999 4   manual(m5) f   33  44  d  compact
2 volkswagen   new beetle 1.9   1999 4   manual(m5) f   35  44  d  subcompact
3 volkswagen   new beetle 1.9   1999 4   auto(l4)   f   29  41  d  subcompact
  mean_hwy
1 44
2 44
3 41

In [79]:
mpg6 %>%
    filter(class == 'compact') %>% 
    group_by(manufacturer) %>% 
    summarise(count = n()) %>% 
    arrange(desc(count))

  manufacturer count
1 audi         15
2 volkswagen   14
3 toyota       12
4 subaru        4
5 nissan        2

# 6-7

In [96]:
fuel <- data.frame ( fl = c ( "c" , "d" , "e" , "p" , "r" ),
price_fl = c ( 2.35 , 2.38 , 2.11 , 2.76 , 2.22 ),
stringsAsFactors = F)

In [97]:
fuel

  fl price_fl
1 c  2.35
2 d  2.38
3 e  2.11
4 p  2.76
5 r  2.22

In [98]:
mpg = as.data.frame (ggplot2::mpg)

In [99]:
mpg = left_join (mpg, fuel, by = "fl" )
head(mpg)

  manufacturer model displ year cyl trans      drv cty hwy fl class   price_fl
1 audi         a4    1.8   1999 4   auto(l5)   f   18  29  p  compact 2.76
2 audi         a4    1.8   1999 4   manual(m5) f   21  29  p  compact 2.76
3 audi         a4    2.0   2008 4   manual(m6) f   20  31  p  compact 2.76
4 audi         a4    2.0   2008 4   auto(av)   f   21  30  p  compact 2.76
5 audi         a4    2.8   1999 6   auto(l5)   f   16  26  p  compact 2.76
6 audi         a4    2.8   1999 6   manual(m5) f   18  26  p  compact 2.76

In [100]:
mpg %>%
    select (model, fl, price_fl) %>% 
    head ( 5 )

  model fl price_fl
1 a4    p  2.76
2 a4    p  2.76
3 a4    p  2.76
4 a4    p  2.76
5 a4    p  2.76

In [101]:
midwest = as.data.frame (ggplot2::midwest)

In [102]:
midwest <- midwest %>%
mutate ( ratio_child = (poptotal-popadults)/poptotal* 100 )

In [103]:
midwest %>%
arrange ( desc (ratio_child)) %>% 
select (county, ratio_child) %>% 
head ( 5 )

  county    ratio_child
1 ISABELLA  51.50117
2 MENOMINEE 50.59126
3 ATHENS    49.32073
4 MECOSTA   49.05918
5 MONROE    47.35818

In [104]:
midwest <- midwest %>%
mutate ( grade = ifelse (ratio_child >= 40 , "large" ,
ifelse (ratio_child >= 30 , "middle" , "small" )))

In [105]:
table (midwest$grade)

 large middle  small
    32    396      9

In [106]:
midwest %>%
    mutate ( ratio_asian = (popasian/poptotal)* 100 ) %>% 
    arrange (ratio_asian) %>% 
    select (state, county, ratio_asian) %>% 
    head ( 10 )

   state county    ratio_asian
1  WI    MENOMINEE 0.00000000
2  IN    BENTON    0.01059210
3  IN    CARROLL   0.01594981
4  OH    VINTON    0.02703190
5  WI    IRON      0.03250447
6  IL    SCOTT     0.05315379
7  IN    CLAY      0.06071645
8  MI    OSCODA    0.06375925
9  OH    PERRY     0.06654625
10 IL    PIATT     0.07074865